<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordova-ios-ns-url-cache-fix"
    version="0.0.1">
    
    <name>CordovaIosNsUrlCacheFix</name>
    
    <description>Cordova Ios Ns Url Cache Plugin</description>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <!-- ios -->
    <platform name="ios">        
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaIosNsUrlCacheFix">
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        
        <header-file src="src/ios/CordovaIosNsUrlCacheFix.h" />
        <source-file src="src/ios/CordovaIosNsUrlCacheFix.m" />
    </platform>
</plugin>
